/* ----- Downloaded font from https://www.downloadfonts.io/calibri-font-family-free/ -----*/

@font-face {
    font-family: calibri;
    src: url(../font/CalibriRegular.ttf);
}


/* ----- Style by Element ----- */

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: calibri;
    background: #182c25;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    letter-spacing: 2px;
    text-shadow: 2px 4px 8px rgba(0, 0, 0, .5);

}

section {
    background-image: linear-gradient(to bottom right, #1b1b1b, #6d6d6d);
}

p {
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
    font-size: 1.25rem;
    text-shadow: 2px 4px 8px rgba(0, 0, 0, .5);
}

hr {
    width: 60%;
    margin-top: 3rem;
    margin-bottom: 3rem;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, .5);
    border: 0;
    height: 1.25px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255,255,255, 0.9), rgba(0, 0, 0, 0));
}

form {
    margin-bottom: 32px;
}

input, textarea {
    color: #ffffff;
}

/* ----- Style by Class ----- */

.portfolioImageDiv {
    margin: 1rem;
    width: 30%;
}

.portfolioImageDiv a {
    color: #ffffff;
}

.description {
    margin-top: 1rem;
}

.contact {
    font-size: .5rem;
}

contactP {
    word-wrap: break-word;
}

/* ----- Create the parallax scrolling effect ----- */

.parallax-one, .parallax-two, .parallax-three {

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Images downloaded from pexels.com */

.parallax-one {
    background-image: url('../images/HD_Backgrounds/rob-ritchey-Hkk_RdYxHO0-unsplash.jpg');
    height: 100vh;
    width: 100%;
}

.parallax-two {
    background-image: url('../images/HD_Backgrounds/luke-vodell-C7FXIG9DoaU-unsplash.jpg');
    height: 100vh;
    width: 100%;
}

.parallax-three {
    background-image: url('../images/HD_Backgrounds/jonathan-auh-z99iWocuDt0-unsplash.jpg');
    height: 100vh;
    width: 100%;
}

/* ----- Style by Id ----- */

#titleSection {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    outline:0 !important;
}

.linksP {
    margin-top: 32px;
}

a.link:hover {
    opacity: .6;

}

#aboutSection {
    padding: 2rem;
    min-height: 40vh;
    line-height: 200%;
    outline:0 !important;
}

#aboutSection p {
    margin-top: 16px;
    word-wrap: break-word;
}

#profileImageDiv {
    width: 25%;
    margin: 8px 16px 8px 8px;
    max-height: 33.3vh;
}

#profilePhoto {
    border-radius: 50%;
}

#portfolioSection {
    padding: 2rem;
    width: 100%;
    outline:0 !important;
}

#portfolioImagesDiv {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

#portfolioImageOne {
    background: url('../images/Dinner-and-a-movie-image.jpg') 50% 50% no-repeat; /* 50% 50% centers image in div */
    background-size: cover;
    width: 100%;
    height: 0;
    padding: 50% 0;
    border-radius: 50%;
}

#imageOneDiv:hover, #imageTwoDiv:hover, #imageThreeDiv:hover {
    width: 110%;
    margin-bottom: -1em;
    filter: brightness(125%);

}

#portfolioImageTwo {
    background: url('../images/gifTastic.jpg') 50% 50% no-repeat; /* 50% 50% centers image in div */
    background-size: cover;
    width: 100%;
    height: 0;
    padding: 50% 0;
    border-radius: 50%;
}

#portfolioImageThree {
    background: url('../images/triviaGame.jpg') 50% 50% no-repeat; /* 50% 50% centers image in div */
    background-size: cover;
    width: 100%;
    height: 0;
    padding: 50% 0;
    border-radius: 50%;
}

#contactSection {
    padding: 1rem;
}

#contactSection:focus {
    outline: none !important;
}

#contactForm {
    margin: 3rem auto;
}

#linkdinLogo {
    width: 20%;
    padding-top: 2rem;
}

#linkdinLogoA:hover {
    opacity: .6;
}

/* ----- Media queries ----- */

@media screen and (min-width: 768px) {
    .portfolioImageDiv {
        margin: 2rem;
        width: 15%;
    }
}

@media screen and (min-width: 600px) and (max-width: 768px) {
    .portfolioImageDiv {
        margin: 1.5rem;
        width: 20%;
    }
}