/* ----- Downloaded font from https://www.downloadfonts.io/calibri-font-family-free/ -----*/

@font-face {
    font-family: calibri;
    src: url(../font/CalibriRegular.ttf);
}


/* ----- Style by Element ----- */

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: calibri;
    background: #182c25;
}

body {
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    letter-spacing: 2px;
}

p {
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
    font-size: 1.25rem;
}

/* ----- Style by Class ----- */

/* ----- Create the parallax scrolling effect ----- */

.parallax-one, .parallax-two, .parallax-three{

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-one {
    background-image: url('../images/wood-tree-forest-pine-forest-conifers-pine-fog-nature.jpg');
    height: 100%;
    width: 100%;
}

.parallax-two {
    background-image: url('../images/wood-tree-forest-pine-forest-conifers-pine-fog-nature.jpg');
    height: 64%;
    width: 100%;
}

.parallax-three {
    background-image: url('../images/wood-tree-nature-landscape-forest-autumn-green-mood-moss.jpg');
}


/* ----- Style by Id ----- */

#titleSection {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#titleSection h1, #titleSection h3, #titleSection p {
    text-shadow: 2px 4px 8px rgba(0, 0, 0, .5);
}

#titleSection p {
    margin-top: 32px;
}

#aboutSection {
    background: #182c25;
    padding: 1rem;
    min-height: 40vh;
    line-height: 200%;
    text-shadow: 2px 4px 8px rgba(0, 0, 0, .5);
}

#aboutSection:focus {
    outline:0 !important;
}


#aboutSection p {
    margin-top: 16px;
    text-indent: 5%;
    word-wrap: break-word;
}

#profileImageDiv {
    width: 25%;
    margin: 8px 16px 8px 8px;
    max-height: 33.3vh;
}
